.bg-carousel-liquid-1 {
  border-radius: 16px;
  border: 1px solid var(--border-dark);
  background: linear-gradient(182deg,
      #8f7fae -13.84%,
      #3f3963 82.76%,
      #30284e 140.73%);
  box-shadow: 0 8px 100px 0 rgba(92, 83, 127, 0.5);
  transition: all 0.3s ease-in-out;
}

.bg-carousel-liquid-2 {
  border-radius: 16px;
  border: 1px solid var(--border-dark);
  background: linear-gradient(208deg,
      #aee1fc -42.2%,
      #2d799c 56.65%,
      #7666e4 107.84%);
  box-shadow: 0 8px 100px 0 rgba(57, 131, 165, 0.5);
  transition: all 0.3s ease-in-out;
}

.bg-carousel-liquid-3 {
  border-radius: 16px;
  border: 1px solid var(--border-dark);
  background: linear-gradient(28deg,
      #f3857d -33.34%,
      #f16477 -24.22%,
      #4ea8c0 106.93%);
  box-shadow: 0 8px 100px 0 rgba(148, 139, 161, 0.5);
  transition: all 0.3s ease-in-out;
}

.bg-carousel-liquid-4 {
  border-radius: 16px;
  border: 1px solid var(--border-dark);
  background: linear-gradient(232deg,
      #b1c1c3 9.72%,
      #dd9747 62.53%,
      #d16404 109.31%);
  box-shadow: 0 8px 100px 0 rgba(210, 163, 104, 0.5);
  transition: all 0.3s ease-in-out;
}

.backdrop-blur-250px {
  opacity: 0.75;
  backdrop-filter: blur(25px);
}

.rustore-bg-circle {
  border-radius: 608px;
  background: radial-gradient(50% 50% at 50% 50%, #156350 0%, #131313 100%);
  filter: blur(150px);
  position: absolute;
  width: 608px;
  height: 608px;

  @media screen and (max-width: 768px) {
    transform: translateX(50%);
    right: 50%;
    top: 200px;
  }

  @media screen and (min-width: 768px) {
    right: -304px;
    bottom: -580px;
  }

  @media screen and (min-width: 1280px) {
    right: -70px;
    bottom: -608px;
  }
}

.GridCard1 {
  grid-area: GridCard1;
}

.GridCard2 {
  grid-area: GridCard2;
}

.GridCard3 {
  grid-area: GridCard3;
}

.GridCard4 {
  grid-area: GridCard4;
}

.GridCard5 {
  grid-area: GridCard5;
}

.GridsBottomGradientElement {
  border-radius: 16px;
  border: 1px solid #2B8D63;
  background: linear-gradient(90deg, #309E66 0%, #267E61 46.97%, #1D5D5F 70.56%, #113824 100%);
}

.ai-label-blur {
  background-color: rgba(255, 255, 255, 0.40);
  -webkit-backdrop-filter: blur(12.5px);
  /* Safari и старые Chrome */
  backdrop-filter: blur(12.5px);
}

.about-ellipse-bg {
  width: 2500px;
  height: 2500px;
  aspect-ratio: 1/1;
  border-radius: 2500px;
  opacity: 0.5;
  filter: blur(150px);
}

@media screen and (max-width: 1280px) {
  .about-ellipse-bg {
    width: 1103.448px;
    height: 1103.448px;
    aspect-ratio: 1103.45/1103.45;
    border-radius: 1103.448px;
    opacity: 0.5;
    filter: blur(66.20689392089844px);
  }
}

.about-ellipse-bg-1 {
  background: radial-gradient(50% 50% at 50% 50%, #156350 0%, #131313 100%);
}

.about-ellipse-bg-2 {
  background: radial-gradient(50% 50% at 50% 50%, #155063 0%, #131313 100%);
}

.about-ellipse-bg-3 {
  background: radial-gradient(50% 50% at 50% 50%, #795B29 0%, #131313 100%);
}

.about-ellipse-bg-4 {
  background: radial-gradient(50% 50% at 50% 50%, #4F3D58 0%, #131313 100%);
}

.about-ellipse-bg-5 {
  background: radial-gradient(50% 50% at 50% 50%, #552929 0%, #131313 100%);
}

.about-ellipse-bg-6 {
  background: radial-gradient(50% 50% at 50% 50%, #31492C 0%, #131313 100%);
}

.about-ellipse-bg-7 {
  background: radial-gradient(50% 50% at 50% 50%, #394271 0%, #131313 100%);
}

.about-ellipse-bg-8 {
  background: radial-gradient(50% 50% at 50% 50%, #156359 0%, #131313 100%);
}

.about-bg-text {
  color: #131313;
  text-align: center;
  font-size: 341.538px;
  font-style: normal;
  font-weight: 800;
  line-height: 398.462px;
  opacity: 0.3;
}

.about-slides-tumbler-gradient-1 {
  background: linear-gradient(90deg, #3EB879 0%, #26D078 100%);
}

.about-slides-tumbler-gradient-2 {
  background: linear-gradient(0deg, #3EB879 0%, #26D078 100%);
}

.about-slides-tumbler-gradient-3 {
  background: linear-gradient(270deg, #3EB879 0%, #26D078 100%);
}